@model ControleChaves.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first" style="margin-top: 25px;">
                    <img src="~/images/logo.png" alt="Controle de Chaves" width=300 height=200 />
                </div>

                @if (!ViewContext.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <!-- Login Form -->
                <form asp-action="Login" method="post">
                    <input type="text" class="fadeIn second" placeholder="@Html.DisplayNameFor(m => m.UserName)" id="username" name="username" asp-for="UserName" />
                    <input type="password" class="fadeIn third" placeholder="@Html.DisplayNameFor(m => m.Password)" id="password" name="password" asp-for="Password" />
                    <input type="hidden" name="returnUrl" asp-for="ReturnUrl" />
                    <input type="submit" class="fadeIn fourth" value="Entrar" />
                </form>
            </div>
        </div>
    </div>
</div>

