@model IEnumerable<ControleChaves.Models.ControleViewModel>

@{
    ViewData["Title"] = "Home";
}

@section Scripts
{
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap3-typeahead.min.js" asp-append-version="true"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
}

<div class="pb-2 mt-4 mb-5 border-bottom">
    <h2>Home</h2>
</div>

<p>
    <a class="btn btn-primary" id="novoEmprestimo">Novo Empréstimo</a>
</p>

<table id="emprestimos" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retirada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioRetirada.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRetirada.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="modalNovoEmprestimo" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>

<div id="modalNovaDevolucao" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>
